body{
	margin: 50px;
	background-image: linear-gradient(to right,#020024,#05457a,#00d4ff);
}
.Main{
	margin: auto;
	border: none;
	border-radius: 10px;
	background-color: ghostwhite;
	box-shadow: 2px 7px 10px 6px paleturquoise;
	height: 500px;
	width: 420px;
}

p{
	
	font-size: 25px;
	font-family:monospace ,serif;
	padding: 0px 10px 0px 10px;
	height: 350px;
	width: 400px;
}
pre{
	text-align: center;
	font-size: 25px;
	font-family:monospace ,serif;
	padding: 10px;
	text-transform:uppercase;
	animation: color1 3s 100;
}
@keyframes color1{
	0%{
		color: green;
	}
	50%{
		color: orangered;
	}
	100%{
		color: red;
	}
}
button{
	margin-left:35% ;
	border: 1px solid black;
	color: black;
	height: 35px;
	width: 100px;
	background-color: transparent;
	border-radius: 10px;
	border-color: peachpuff;
	box-shadow: 1px 10px 30px .5px peru;
}
button:hover{
	background-color: orange;
}