body{
	background: rgb(34,193,195);
background: linear-gradient(to right, #22c1c3, #9fe851);
}
.Main{
	margin: auto;
	width: 300px;
	height: auto;
	border:6px solid transparent;
	animation: MainBorder 3s infinite;
	border-radius: 10px;
	background-color: whitesmoke;
	box-shadow: 10px 10px 50px 5px blanchedalmond;
/*filter: drop-shadow(30px 10px 4px #4444dd);*/
	padding: 50px;
}

#Add{
	background-color: #94ebd1;
	border-radius: 10px;
	height: 40px;
	width: 60px;
	border: none;
	font-size: 20px;
	text-transform:uppercase;
	
}
#Clear{
	background-color: #fa6039;
	border-radius: 10px;
	height: 40px;
	width: 80px;
	border: none;
	font-size: 20px;
	margin: 10px 20px 0px 10px;
	text-align: center;
}
#Submit{
	background-color: #13e844;
	border-radius: 10px;
	height: 40px;
	width: 80px;
	border: none;
	font-size: 20px;
	margin: 10px 10px 0px 10px;
	text-align: center;
}
#TodiList{
	margin:0px 20px 0px 0px;
	border: 3px solid #def7c3;
	background-color: white;
	font-size: 20px;
	height: 40px;
	width: 200px;
	border-radius: 10px;
}
#TodiList:hover{
	border: 1px solid;
	border-color:lightskyblue;
	box-shadow: 0px  1px 7px 1px lightskyblue;
}
#Submit:hover{
	border: 1px solid;
		border-color:black;
	box-shadow: 0px  1px 7px 1px black
}
#Clear:hover{
	border: 1px solid;
	border-color:black;
	box-shadow: 0px  1px 7px 1px black
}
#Add:hover{
	border: 1px solid;
	border-color:black;
	box-shadow: 0px  1px 7px 1px black
}

p{
	font-size: 25px;
	text-decoration-color: black;

}
/*@keyframes MainBorder{
	0%{
		border-top-color:pink;
		border-right-color:green;
		border-bottom-color:red;
		border-left-color:blue;
	}
	10%{
		border-top-color:blue;
		border-right-color:pink;
		border-bottom-color:green;
		border-left-color:red;
	}
	30%{
		border-top-color:red;
		border-right-color:blue;
		border-bottom-color:pink;
		border-left-color:green;
	}
	40%{
		border-top-color:green;
		border-right-color:red;
		border-bottom-color:blue;
		border-left-color:pink;
	}
	50%{
		border-top-color:pink;
		border-right-color:green;
		border-bottom-color:red;
		border-left-color:blue;
	}
	60%{
		border-top-color:blue;
		border-right-color:pink;
		border-bottom-color:green;
		border-left-color:red;
	}
	70%{
		border-top-color:red;
		border-right-color:blue;
		border-bottom-color:pink;
		border-left-color:green;
	}
	80%{
		border-top-color:green;
		border-right-color:red;
		border-bottom-color:blue;
		border-left-color:pink;
	}
	90%{
		border-top-color:pink;
		border-right-color:green;
		border-bottom-color:red;
		border-left-color:blue;
	}
	100%{
		border-top-color:blue;
		border-right-color:pink;
		border-bottom-color:green;
		border-left-color:red;
	}

}*/